# Explore Notebook

##### This is my notebook to work through the exploratory phase of my Telco Churn Classification Project

In [16]:
# general imports (from big libraries)
import pandas as pd
import numpy as np
import os
from scipy import stats

In [2]:
# my specific imports
# this brings in my login credentials to the Codeup database
from env import host, user, password
# this gives me access to my acquire functions
import acquire
# this gives me access to my prepare functions
import prepare

In [3]:
# running through acquire...
df = acquire.get_telco_data()

In [4]:
# start to prep
df = prepare.prep_1_telco(df)

In [5]:
# stage 2 prep
df = prepare.prep_2_telco(df)

In [6]:
# train, validate, test
train, validate, test = prepare.split_data(df)

In [7]:
# let's double check each dataframe's shape
train.shape, validate.shape, test.shape

((3937, 26), (1688, 26), (1407, 26))

##### Time to start exploring

In [8]:
# what does my training set look like?
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3937 entries, 3976-HXHCE to 9606-PBKBQ
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   senior_citizen   3937 non-null   int64
 1   tenure           3937 non-null   int64
 2   monthly_charges  3937 non-null   float64
 3   total_charges    3937 non-null   float64
 4   auto_pay         3937 non-null   int64
 5   dsl              3937 non-null   int64
 6   fiber            3937 non-null   int64
 7   has_internet     3937 non-null   int64
 8   m2m              3937 non-null   int64
 9   one_year         3937 non-null   int64
 10  two_year         3937 non-null   int64
 11  has_contract     3937 non-null   int64
 12  is_male          3937 non-null   int64
 13  has_partner      3937 non-null   int64
 14  has_dep          3937 non-null   int64
 15  tenure_months    3937 non-null   int64
 16  has_phone        3937 non-null   int64
 17  multi_phone      3937 non-null   int64
 18  has_security     3937 non-null   int64
 19  has_backup       3937 non-null   int64
 20  has_protection   3937 non-null   int64
 21  has_support      3937 non-null   int64
 22  stream_tv        3937 non-null   int64
 23  stream_movies    3937 non-null   int64
 24  has_paperless    3937 non-null   int64
 25  has_churn        3937 non-null   int64
dtypes: float64(2), int64(24)
memory usage: 830.5+ KB

In [9]:
# categorical vs continuous variables
train.nunique()

senior_citizen        2
tenure               72
monthly_charges    1333
total_charges      3743
auto_pay              2
dsl                   2
fiber                 2
has_internet          2
m2m                   2
one_year              2
two_year              2
has_contract          2
is_male               2
has_partner           2
has_dep               2
tenure_months        72
has_phone             2
multi_phone           2
has_security          2
has_backup            2
has_protection        2
has_support           2
stream_tv             2
stream_movies         2
has_paperless         2
has_churn             2
dtype: int64

In [11]:
# what does the math look like?
train.describe().T

,count,mean,std,min,25%,50%,75%,max
senior_citizen,3937.0,0.169418,0.375169,0.00,0.0,0.00,0.0,1.00
tenure,3937.0,32.364237,24.627271,1.00,8.0,29.00,56.0,72.00
monthly_charges,3937.0,64.487071,29.887050,18.25,35.5,70.15,89.7,118.35
total_charges,3937.0,2267.968606,2251.870938,18.80,397.0,1388.45,3810.8,8684.80
auto_pay,3937.0,0.433579,0.495632,0.00,0.0,0.00,1.0,1.00
dsl,3937.0,0.347473,0.476228,0.00,0.0,0.00,1.0,1.00
fiber,3937.0,0.434341,0.495733,0.00,0.0,0.00,1.0,1.00
has_internet,3937.0,0.781814,0.413067,0.00,1.0,1.00,1.0,1.00
m2m,3937.0,0.552451,0.497304,0.00,0.0,1.00,1.0,1.00
one_year,3937.0,0.211328,0.408303,0.00,0.0,0.00,0.0,1.00
two_year,3937.0,0.236220,0.424813,0.00,0.0,0.00,0.0,1.00
has_contract,3937.0,0.447549,0.497304,0.00,0.0,0.00,1.0,1.00
is_male,3937.0,0.513335,0.499886,0.00,0.0,1.00,1.0,1.00
has_partner,3937.0,0.474981,0.499437,0.00,0.0,0.00,1.0,1.00
has_dep,3937.0,0.293625,0.455480,0.00,0.0,0.00,1.0,1.00
tenure_months,3937.0,32.364237,24.627271,1.00,8.0,29.00,56.0,72.00
has_phone,3937.0,0.903734,0.294993,0.00,1.0,1.00,1.0,1.00
multi_phone,3937.0,0.422149,0.493965,0.00,0.0,0.00,1.0,1.00
has_security,3937.0,0.289053,0.453380,0.00,0.0,0.00,1.0,1.00
has_backup,3937.0,0.343155,0.474823,0.00,0.0,0.00,1.0,1.00
has_protection,3937.0,0.342901,0.474739,0.00,0.0,0.00,1.0,1.00
has_support,3937.0,0.291085,0.454320,0.00,0.0,0.00,1.0,1.00
stream_tv,3937.0,0.376683,0.484616,0.00,0.0,0.00,1.0,1.00
stream_movies,3937.0,0.384303,0.486492,0.00,0.0,0.00,1.0,1.00
has_paperless,3937.0,0.593345,0.491272,0.00,0.0,1.00,1.0,1.00
has_churn,3937.0,0.265685,0.441753,0.00,0.0,0.00,1.0,1.00

In [17]:
# can I make a function to look at chi^2 for all categorical variables against has_churn?
def telco_cat_chi(df):
    cat_vars = ['senior_citizen', 'auto_pay', 'dsl', 'fiber', 'has_internet', 'm2m', 'one_year',
       'two_year', 'has_contract', 'is_male', 'has_partner', 'has_dep', 'has_phone', 'multi_phone', 'has_security',
       'has_backup', 'has_protection', 'has_support', 'stream_tv',
       'stream_movies', 'has_paperless']
    for cat in cat_vars:
        print(cat)
        observed = pd.crosstab(train['has_churn'], train[cat])
        chi2, p, degf, expected = stats.chi2_contingency(observed)
        print(f'chi^2 = {chi2:.4f}')
        print(f'p     = {p:.4f}')
        print('--------------------------------')

In [18]:
telco_cat_chi(train)

senior_citizen
chi^2 = 114.5890
p     = 0.0000
--------------------------------
auto_pay
chi^2 = 164.2553
p     = 0.0000
--------------------------------
dsl
chi^2 = 63.2535
p     = 0.0000
--------------------------------
fiber
chi^2 = 398.3547
p     = 0.0000
--------------------------------
has_internet
chi^2 = 217.2718
p     = 0.0000
--------------------------------
m2m
chi^2 = 632.7017
p     = 0.0000
--------------------------------
one_year
chi^2 = 131.1002
p     = 0.0000
--------------------------------
two_year
chi^2 = 338.5036
p     = 0.0000
--------------------------------
has_contract
chi^2 = 632.7017
p     = 0.0000
--------------------------------
is_male
chi^2 = 1.9712
p     = 0.1603
--------------------------------
has_partner
chi^2 = 68.2426
p     = 0.0000
--------------------------------
has_dep
chi^2 = 89.8354
p     = 0.0000
--------------------------------
has_phone
chi^2 = 0.0721
p     = 0.7884
--------------------------------
multi_phone
chi^2 = 5.4421
p     = 0.0197
--------------------------------
has_security
chi^2 = 103.5538
p     = 0.0000
--------------------------------
has_backup
chi^2 = 23.9851
p     = 0.0000
--------------------------------
has_protection
chi^2 = 14.5461
p     = 0.0001
--------------------------------
has_support
chi^2 = 101.7196
p     = 0.0000
--------------------------------
stream_tv
chi^2 = 14.7009
p     = 0.0001
--------------------------------
stream_movies
chi^2 = 18.8427
p     = 0.0000
--------------------------------
has_paperless
chi^2 = 137.8913
p     = 0.0000
--------------------------------

In [21]:
# now let's do ttests of continuous variables against has_churn
def telco_quant_ttest(df):
    quant_vars = ['monthly_charges', 'total_charges', 'tenure_months']
    for quant in quant_vars:
        churn_rate = df['has_churn'].mean()
        alpha = 0.01
        t, p = stats.ttest_1samp(df[quant], churn_rate)
        print(quant)
        print('tscore:', t.round(2))
        print('p/2:   ', p/2)
        print('alpha: ', alpha)
        print('-------------------------------------')

In [22]:
telco_quant_ttest(train)

monthly_charges
tscore: 134.83
p/2:    0.0
alpha:  0.01
-------------------------------------
total_charges
tscore: 63.19
p/2:    0.0
alpha:  0.01
-------------------------------------
tenure_months
tscore: 81.78
p/2:    0.0
alpha:  0.01
-------------------------------------

##### so what does this mean?
- I want to use: , auto_pay, has_fiber, has_int, m2m, has_contract, monthly charges
- Maybes include: senior_citizen, has_security, has_support, has_paperless, tenure_months
- Don't want in my model: DSL, is_male, has_partner, has_dependents, has_phone, multi_phone, has_backup, has_protection, stream_tv, stream_movies

In [ ]:
# lets vizualize some of this...