In [1]:
# imports
import pandas as pd
import numpy as np
from env import host, user, password
import acquire
import prepare

In [2]:
# use my functions to acquire telco_churn 
df = acquire.get_telco_data()

In [3]:
# let's see the value counts...
col_list = df.columns

In [4]:
col_list

Index(['payment_type_id', 'internet_service_type_id', 'contract_type_id',
       'customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'paperless_billing', 'monthly_charges',
       'total_charges', 'churn', 'contract_type', 'internet_service_type',
       'payment_type'],
      dtype='object')

In [5]:
# let's look at all columns value_counts
for col in col_list:
    print(col)
    print(df[col].value_counts())
    print('--------------------------------')

payment_type_id
1    2365
2    1612
3    1544
4    1522
Name: payment_type_id, dtype: int64
--------------------------------
internet_service_type_id
2    3096
1    2421
3    1526
Name: internet_service_type_id, dtype: int64
--------------------------------
contract_type_id
1    3875
3    1695
2    1473
Name: contract_type_id, dtype: int64
--------------------------------
customer_id
6435-SRWBJ    1
5707-ZMDJP    1
4947-DSMXK    1
2342-CKIAO    1
9351-LZYGF    1
             ..
0769-MURVM    1
6166-ILMNY    1
7602-DBTOU    1
4176-RELJR    1
5803-NQJZO    1
Name: customer_id, Length: 7043, dtype: int64
--------------------------------
gender
Male      3555
Female    3488
Name: gender, dtype: int64
--------------------------------
senior_citizen
0    5901
1    1142
Name: senior_citizen, dtype: int64
--------------------------------
partner
No     3641
Yes    3402
Name: partner, dtype: int64
--------------------------------
dependents
No     4933
Yes    2110
Name: dependents, dtype: int64
--------------------------------
tenure
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64
--------------------------------
phone_service
Yes    6361
No      682
Name: phone_service, dtype: int64
--------------------------------
multiple_lines
No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64
--------------------------------
online_security
No                     3498
Yes                    2019
No internet service    1526
Name: online_security, dtype: int64
--------------------------------
online_backup
No                     3088
Yes                    2429
No internet service    1526
Name: online_backup, dtype: int64
--------------------------------
device_protection
No                     3095
Yes                    2422
No internet service    1526
Name: device_protection, dtype: int64
--------------------------------
tech_support
No                     3473
Yes                    2044
No internet service    1526
Name: tech_support, dtype: int64
--------------------------------
streaming_tv
No                     2810
Yes                    2707
No internet service    1526
Name: streaming_tv, dtype: int64
--------------------------------
streaming_movies
No                     2785
Yes                    2732
No internet service    1526
Name: streaming_movies, dtype: int64
--------------------------------
paperless_billing
Yes    4171
No     2872
Name: paperless_billing, dtype: int64
--------------------------------
monthly_charges
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
56.85      1
92.65      1
109.85     1
35.70      1
61.95      1
Name: monthly_charges, Length: 1585, dtype: int64
--------------------------------
total_charges
          11
20.2      11
19.75      9
19.65      8
19.9       8
          ..
159.2      1
4237.5     1
2354.8     1
1011.8     1
3876.2     1
Name: total_charges, Length: 6531, dtype: int64
--------------------------------
churn
No     5174
Yes    1869
Name: churn, dtype: int64
--------------------------------
contract_type
Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64
--------------------------------
internet_service_type
Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64
--------------------------------
payment_type
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64
--------------------------------

In [6]:
# let's see what we're working with...
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [7]:
df['customer_id'].nunique()

7043

In [8]:
# reset the customer_id to be the index
df = df.set_index('customer_id')

In [9]:
df.index

Index(['0016-QLJIS', '0017-DINOC', '0019-GFNTW', '0056-EPFBG', '0078-XZMHT',
       '0114-IGABW', '0123-CRBRT', '0191-EQUUH', '0214-JHPFW', '0229-LFJAF',
       ...
       '9837-FWLCH', '9860-LISIZ', '9867-NNXLC', '9929-PLVPA', '9932-WBWIK',
       '9962-BFPDU', '9967-ATRFS', '9970-QBCDA', '9975-SKRNR', '9986-BONCE'],
      dtype='object', name='customer_id', length=7043)

In [10]:
df.head()

,payment_type_id,internet_service_type_id,contract_type_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
customer_id,,,,,,,,,,,,,,,,,,,,,
0016-QLJIS,2,1,3,Female,0,Yes,Yes,65,Yes,Yes,...,Yes,Yes,Yes,Yes,90.45,5957.9,No,Two year,DSL,Mailed check
0017-DINOC,4,1,3,Male,0,No,No,54,No,No phone service,...,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic)
0019-GFNTW,3,1,3,Female,0,No,No,56,No,No phone service,...,Yes,No,No,No,45.05,2560.1,No,Two year,DSL,Bank transfer (automatic)
0056-EPFBG,4,1,3,Male,0,Yes,Yes,20,No,No phone service,...,Yes,No,No,Yes,39.40,825.4,No,Two year,DSL,Credit card (automatic)
0078-XZMHT,3,1,3,Male,0,Yes,No,72,Yes,Yes,...,Yes,Yes,Yes,Yes,85.15,6316.2,No,Two year,DSL,Bank transfer (automatic)

In [11]:
df.index.nunique()

7043

In [12]:
# are there any null values / whitespace?
# This replaces empty cells with nan (null values)
df = df.replace(' ', np.nan)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0016-QLJIS to 9986-BONCE
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   gender                    7043 non-null   object
 4   senior_citizen            7043 non-null   int64
 5   partner                   7043 non-null   object
 6   dependents                7043 non-null   object
 7   tenure                    7043 non-null   int64
 8   phone_service             7043 non-null   object
 9   multiple_lines            7043 non-null   object
 10  online_security           7043 non-null   object
 11  online_backup             7043 non-null   object
 12  device_protection         7043 non-null   object
 13  tech_support              7043 non-null   object
 14  streaming_tv              7043 non-null   object
 15  streaming_movies          7043 non-null   object
 16  paperless_billing         7043 non-null   object
 17  monthly_charges           7043 non-null   float64
 18  total_charges             7032 non-null   object
 19  churn                     7043 non-null   object
 20  contract_type             7043 non-null   object
 21  internet_service_type     7043 non-null   object
 22  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(17)
memory usage: 1.3+ MB

In [14]:
# drop the nulls...
df = df.dropna(axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0016-QLJIS to 9986-BONCE
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7032 non-null   int64
 1   internet_service_type_id  7032 non-null   int64
 2   contract_type_id          7032 non-null   int64
 3   gender                    7032 non-null   object
 4   senior_citizen            7032 non-null   int64
 5   partner                   7032 non-null   object
 6   dependents                7032 non-null   object
 7   tenure                    7032 non-null   int64
 8   phone_service             7032 non-null   object
 9   multiple_lines            7032 non-null   object
 10  online_security           7032 non-null   object
 11  online_backup             7032 non-null   object
 12  device_protection         7032 non-null   object
 13  tech_support              7032 non-null   object
 14  streaming_tv              7032 non-null   object
 15  streaming_movies          7032 non-null   object
 16  paperless_billing         7032 non-null   object
 17  monthly_charges           7032 non-null   float64
 18  total_charges             7032 non-null   object
 19  churn                     7032 non-null   object
 20  contract_type             7032 non-null   object
 21  internet_service_type     7032 non-null   object
 22  payment_type              7032 non-null   object
dtypes: float64(1), int64(5), object(17)
memory usage: 1.3+ MB

In [15]:
# convert payment types to 1:auto-pay, 0:not auto-pay
df['auto_pay'] = df['payment_type_id'].replace({1:0, 2:0, 3:1, 4:1})

In [16]:
# create DSL column where 1:has DSL, 0:No DSL
df['dsl'] = df['internet_service_type_id'].replace({1:1, 2:0, 3:0})

In [17]:
# create Fiber column where 1:has Fiber service, 0:No Fiber
df['fiber'] = df['internet_service_type_id'].replace({1:0, 2:1, 3:0})

In [18]:
# create Has Internet column where 1:Has Internet 0:No internet service
df['has_internet'] = df['internet_service_type_id'].replace({1:1, 2:1, 3:0})

In [19]:
# separte contract_type_id into three columns...
# create m2m column where 1:Month-to-Month service, 2:contract
df['m2m'] = df['contract_type_id'].replace({1:1, 2:0, 3:0})

In [20]:
# create one_year column where 1:One year contract, 0:no contract, or m2m
df['one_year'] = df['contract_type_id'].replace({1:0, 2:1, 3:0})

In [21]:
# create teo_year column where 1:two year contract, 0:less than 2 year contract
df['two_year'] = df['contract_type_id'].replace({1:0, 2:0, 3:1})

In [22]:
# create has contract column where 1:has contract, 0:no contract
df['has_contract'] = df['contract_type_id'].replace({1:0, 2:1, 3:1})

In [23]:
# create column to convert gender to int 1:male, 0:female
df['is_male'] = df['gender'].replace({'Male':1, 'Female':0})

In [24]:
# create reusable dictionary for replacing 'No', 'Yes', 'No internet service', 'No phone service'
rep_dict = {
    'No': 0,
    'Yes': 1,
    'No internet service': 0,
    'No phone service': 0
}

In [25]:
# create has_partner column where 1:has partner, 0:no partner
df['has_partner'] = df['partner'].replace(rep_dict)

In [26]:
# create has_dep column where 1:has dependents, 0:no dependents
df['has_dep'] = df['dependents'].replace(rep_dict)

In [27]:
# better identify tenure in months by renaming column...
df['tenure_months'] = df['tenure']

In [28]:
# create has_phone column where 1:has phone, 0:no phone
df['has_phone'] = df['phone_service'].replace(rep_dict)

In [29]:
# create multi_phone column where 1:multiple phone lines, 0:One or fewer phone lines
df['multi_phone'] = df['multiple_lines'].replace(rep_dict)

In [30]:
# create security column where 1:has online security, 2:no security
df['has_security'] = df['online_security'].replace(rep_dict)

In [31]:
# create has_backup column where 1:has online backup, 0:no backup
df['has_backup'] = df['online_backup'].replace(rep_dict)

In [32]:
# create has_protection column where 1:has device protection, 0:no device protection
df['has_protection'] = df['device_protection'].replace(rep_dict)

In [33]:
# create has_support column where 1:has tech support, 0:no tech support
df['has_support'] = df['tech_support'].replace(rep_dict)

In [34]:
# create stream_tv column where 1:streams tv, 0:no streaming tv
df['stream_tv'] = df['streaming_tv'].replace(rep_dict)

In [35]:
# create stream_movies column where 1:streams movies, 0:no streaming movies
df['stream_movies'] = df['streaming_movies'].replace(rep_dict)

In [36]:
# create has_paperless column where 1:has paperless billing, 0:no paperless billing
df['has_paperless'] = df['paperless_billing'].replace(rep_dict)

In [37]:
# convert total_charges to float
df['total_charges'] = df['total_charges'].astype(float)

In [38]:
# create has_churn column where 1:has churn, 0:no churn
df['has_churn'] = df['churn'].replace(rep_dict)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0016-QLJIS to 9986-BONCE
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7032 non-null   int64
 1   internet_service_type_id  7032 non-null   int64
 2   contract_type_id          7032 non-null   int64
 3   gender                    7032 non-null   object
 4   senior_citizen            7032 non-null   int64
 5   partner                   7032 non-null   object
 6   dependents                7032 non-null   object
 7   tenure                    7032 non-null   int64
 8   phone_service             7032 non-null   object
 9   multiple_lines            7032 non-null   object
 10  online_security           7032 non-null   object
 11  online_backup             7032 non-null   object
 12  device_protection         7032 non-null   object
 13  tech_support              7032 non-null   object
 14  streaming_tv              7032 non-null   object
 15  streaming_movies          7032 non-null   object
 16  paperless_billing         7032 non-null   object
 17  monthly_charges           7032 non-null   float64
 18  total_charges             7032 non-null   float64
 19  churn                     7032 non-null   object
 20  contract_type             7032 non-null   object
 21  internet_service_type     7032 non-null   object
 22  payment_type              7032 non-null   object
 23  auto_pay                  7032 non-null   int64
 24  dsl                       7032 non-null   int64
 25  fiber                     7032 non-null   int64
 26  has_internet              7032 non-null   int64
 27  m2m                       7032 non-null   int64
 28  one_year                  7032 non-null   int64
 29  two_year                  7032 non-null   int64
 30  has_contract              7032 non-null   int64
 31  is_male                   7032 non-null   int64
 32  has_partner               7032 non-null   int64
 33  has_dep                   7032 non-null   int64
 34  tenure_months             7032 non-null   int64
 35  has_phone                 7032 non-null   int64
 36  multi_phone               7032 non-null   int64
 37  has_security              7032 non-null   int64
 38  has_backup                7032 non-null   int64
 39  has_protection            7032 non-null   int64
 40  has_support               7032 non-null   int64
 41  stream_tv                 7032 non-null   int64
 42  stream_movies             7032 non-null   int64
 43  has_paperless             7032 non-null   int64
 44  has_churn                 7032 non-null   int64
dtypes: float64(2), int64(27), object(16)
memory usage: 2.5+ MB

In [40]:
# now I have my wide DataFrame, let's prep round 2

In [41]:
# I want to make sure I keep all columns in this df, but I want to eliminate
# some for me to work with. That way, if I need a visual check, I can look back, but
# I want have as much out of my way as possible for me to work with

In [42]:
# let's get a list of columns to drop
list(df.select_dtypes('object').columns)

['gender',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'churn',
 'contract_type',
 'internet_service_type',
 'payment_type']

In [43]:
# all object columns in a variable to drop
obj_cols = list(df.select_dtypes('object').columns)

In [44]:
# other columns to drop...
other_drops = ['payment_type_id', 'internet_service_type_id', 'contract_type_id']

In [49]:
# combine all drops into 1 list
all_drops = obj_cols + other_drops

In [50]:
# return a new, clean dataframe
df_1 = df.drop(columns=all_drops)

In [51]:
# what's it look like?
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0016-QLJIS to 9986-BONCE
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   senior_citizen   7032 non-null   int64
 1   tenure           7032 non-null   int64
 2   monthly_charges  7032 non-null   float64
 3   total_charges    7032 non-null   float64
 4   auto_pay         7032 non-null   int64
 5   dsl              7032 non-null   int64
 6   fiber            7032 non-null   int64
 7   has_internet     7032 non-null   int64
 8   m2m              7032 non-null   int64
 9   one_year         7032 non-null   int64
 10  two_year         7032 non-null   int64
 11  has_contract     7032 non-null   int64
 12  is_male          7032 non-null   int64
 13  has_partner      7032 non-null   int64
 14  has_dep          7032 non-null   int64
 15  tenure_months    7032 non-null   int64
 16  has_phone        7032 non-null   int64
 17  multi_phone      7032 non-null   int64
 18  has_security     7032 non-null   int64
 19  has_backup       7032 non-null   int64
 20  has_protection   7032 non-null   int64
 21  has_support      7032 non-null   int64
 22  stream_tv        7032 non-null   int64
 23  stream_movies    7032 non-null   int64
 24  has_paperless    7032 non-null   int64
 25  has_churn        7032 non-null   int64
dtypes: float64(2), int64(24)
memory usage: 1.4+ MB

In [58]:
df_1.nunique()

senior_citizen        2
tenure               72
monthly_charges    1584
total_charges      6530
auto_pay              2
dsl                   2
fiber                 2
has_internet          2
m2m                   2
one_year              2
two_year              2
has_contract          2
is_male               2
has_partner           2
has_dep               2
tenure_months        72
has_phone             2
multi_phone           2
has_security          2
has_backup            2
has_protection        2
has_support           2
stream_tv             2
stream_movies         2
has_paperless         2
has_churn             2
dtype: int64